.container {
  width: 90%;
  margin: 0 auto;
}
.header {
  background-image: url("../image/desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}
.header-heading {
  text-indent: 1em;
  font-size: 31px;
  width: 70%;
  margin: 0 auto;
}
.header-text {
  font-size: 25px;
  font-style: italic;
}
.header-btn {
  background-color: #142b6f;
  color: #fff;
  padding: 0.75em 1.9em;
  font-weight: 600;
  border-radius: 1.8em;
  text-decoration: none;
  margin: 1em;
}
.header-btn:hover {
  background-color: #fff;
  color: #142b6f;
}

.section-card {
  display: flex;
  flex-direction: row;
  gap: 1em;
  color: #142b6f;
  margin: 3em auto;
  overflow: hidden;
  white-space: wrap;
}
.section-card-body {
  margin: 0 auto;
  flex: 0 0 135px;
}
.section-card-img {
  width: 226px;
  height: 127px;
  object-fit: content;
}
.section-card-img:hover {
  transform: scale(1.1); 
}
.section-card-text {
  font-size: 20px;
  text-align: center;
  margin: -8px 17px;
  padding: 12px 0px;
}

.main-heading {
  font-size: 1.4rem !important;
}

.main-icon-section {
  display: flex;
  flex-direction: column;
}
.img-icon {
  height: 30px;
  width: 30px;
  object-fit: cover;
  margin: 1em;
}
.text-icon {
  margin: 1.5em 0;
  color: #142b6f;
}
.menu-icon-body {
  display: flex;
  flex-direction: row;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
  margin: 0 auto;
}
.heading {
  line-height: 1.4;
  font-size: 2rem;
  margin: 0.5em 0;
  color: #142b6f;
}
.text {
  line-height: 1.6;
  color: #142b6f;
  margin-bottom: 1em;
}
.link {
  padding-bottom: 5px;
  text-decoration: none;
  border-bottom: 3px solid #142b6f;
  color: #142b6f;
}
.link-p {
  padding-bottom: 5px;
  text-decoration: none;
  color: #142b6f;
}
.capsule-img {
  width: 100%;
  padding: 1.5em 0;
}


@media (min-width: 620px) {
  .header {
    height: calc((100vw - 48px) * 0.38832);
  }
  .header-heading {
    width: 42%;
    font-size: 4rem;
    color: #142b6f;
  }
  .header-text {
    font-size: 35px;
    margin-left: 2em;
    color: #142b6f;
  }
  .main-heading {
    text-align: center;
    width: 70%;
    margin: 1em auto;
  }
  .main-icon-section {
    flex-direction: row;
    gap: 0;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
  }
  .menu-icon-body {
    flex-direction: column;
    width: 12%;
  }
  .section {
    flex-direction: row;
    gap: 0em;
  }
  .section-body {
    width: 43%;
    margin: 2em auto;
  }
  .section2-item-2 {
    order: -1;
  }
}
